/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para os botões de edição e exclusão */
.edit-btn,
.delete-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #0056b3;
}